{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="CodeHim">
    <title>Accessories</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="header_section_top">
        <div class="row">
            <div class="col-sm-12">
                <div class="custom_menu">
                    <ul>
                        <li><a href="{% url 'login' %}">Login In</a></li>
                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                        <li><a href="{% url 'main_page' %}">Home</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<main>
    <div class="cart-modal-overlay">
        <div class="cart-modal">
            <i id="close-btn" class="fas fa-times"></i>
            <h1 class="cart-is-empty">Cart is empty</h1>

            <div class="product-rows">
            </div>
            <div class="total">
                <h1 class="cart-total">TOTAL</h1>
                <span class="total-price">$0</span>
                <a href="{% url 'payment' %}">
                    <button class="purchase-btn">PURCHASE</button>
                </a>
            </div>
        </div>
    </div>

    <div class="cart-btn">
        <i id="cart" class="fas fa-shopping-cart"></i>
        <span class="cart-quantity">0</span>
    </div>
    <!--  products  -->
    <section class="shop_section layout_padding">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    Accessories
                </h2>
            </div>
            <div class="items-container">
                <div class="card-1 card">
                    <img class="product-image" src="{% static 'images/acc1.jpeg' %}" alt="">
                    <button class="add-to-cart">Add to cart</button>
                    <span class="product-name">Oval Sunglasses</span>
                    <span class="product-price">599 EGP</span>
                </div>
                <div class="card-2 card">
                    <img class="product-image" src="{% static 'images/acc2.jpeg' %}" alt="">
                    <button class="add-to-cart">Add to cart</button>
                    <span class="product-name">4-pack Rings</span>
                    <span class="product-price">150 EGP</span>
                </div>
                <div class="card-3 card">
                    <img class="product-image" src="{% static 'images/acc3.jpeg' %}" alt="">
                    <button class="add-to-cart">Add to cart</button>
                    <span class="product-name">2-pack Caps</span>
                    <span class="product-price">700 EGP</span>

                </div>
            </div>
            <div class="items-container">
                <div class="card-1 card">
                     <img class="product-image" src="{% static 'images/acc4.jpeg' %}" alt="" >
                     <button class="add-to-cart">Add to cart</button>
                     <span class="product-name">3 Pairs Hoop Earrings</span>
                     <span class="product-price">495 EGP</span>
                </div>
                <div class="card-2 card">
                    <img class="product-image" src="{% static 'images/acc5.jpeg' %}" alt="" >
                    <button class="add-to-cart">Add to cart</button>
                    <span class="product-name">Bucket Hat</span>
                    <span class="product-price">250 EGP</span>
                </div>
                <div class="card-3 card">
                    <img class="product-image" src="{% static 'images/acc6.jpeg' %}" alt="">
                    <button class="add-to-cart">Add to cart</button>
                    <span class="product-name"> iPhone Case</span>
                    <span class="product-price">450 EGP</span>
                </div>
            </div>
        </div>
    </section>
</main>

<section class="info_section layout_padding2-top">
    <div class="social_container">
        <div class="social_box">
            <a href="#">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="#">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="#">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="#">
                <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <div class="info_container">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <h6>
                        ABOUT US
                    </h6>
                    <p>
                        As engineering students at Ain Shams University in
                        Cairo, Egypt, we're dedicated to applying science and technology to real-world challenges.
                        We're honing our skills in web development, user experience design, and online business management.
                        This hands-on experience allows us to apply theoretical knowledge to a practical setting,
                        preparing us for the dynamic world of digital commerce.
                    </p>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h6>
                        CONTACT US
                    </h6>
                    <div class="info_link-box">
                        <a href="#">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>street,Abbassia,CAIRO.EGYPT </span>
                        </a>
                        <a href="#">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>+20 1000 156 007</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer_section">
        <div class="container">
        </div>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
</section>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('accessories-icon').addEventListener('click', function() {
            fetch('/accessories/')
                .then(response => response.text())
                .then(data => {
                    // Update the product container with the response HTML
                    document.querySelector('.items-container').innerHTML = data;
                })
                .catch(error => console.error('Fetch error:', error));
        });
    });
</script>
</body>
</html>