{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Billing</title>
    <link rel="stylesheet" href="{% static 'css/stylepay.css' %}">
</head>
<body>
    <div class="container">
        <form action="">
            <div class="inputs-container">
                <div class="billing-area">
                    <h3 class="title">Billing Address</h3>
                    <label>
                    <input type="text" name="fullName" id="fullName" placeholder="Your Name">
                    </label>
                    <label>
                    <input type="email" name="emailAddress" id="emailAddress" placeholder="Email Address">
                    </label>
                    <label>
                    <input type="text" name="homaAddress" id="fullName" placeholder="Home Address">
                    </label>
                    <label>
                    <input type="text" name="governorateName" id="governorateName" placeholder="Governorate Name">
                    </label>
                    <label>
                    <input type="text" name="cityName" id="cityName" placeholder="City Name">
                    </label>
                    <label>
                    <input type="text" name="zipCode" id="zipCode" placeholder="Zip Code">
                    </label>
                </div>
                <div class="payment-area">
                    <h3 class="title">Payment Method</h3>
                    <img class="visa-img" src="{% static 'images/visa.svg' %}" alt="An image of a visa card">
                    <label>
                    <input type="text" name="nameOnCard" id="nameOnCard" placeholder="Name on card">
                    </label>
                    <label>
                    <input type="text" name="cardNumber" id="cardNumber" placeholder="Card Number">
                    </label>
                    <label>
                    <input type="text" name="expMonth" id="expMonth" placeholder="Month of expiry">
                    </label>
                    <label>
                    <input type="text" name="expYear" id="expYear" placeholder="Year of expiry">
                    </label>
                    <label>
                    <input type="text" name="CVV" id="CVV" placeholder="CVV">
                    </label>
                </div>
            </div>
            <input type="submit" value="Confirm Payment">
  
        </form>
    </div>
</body>
</html>


