
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(banner/pic.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
form{
    width: 700px;
    padding: 40px;
    background: #fff;
    border-radius: 10px;
    display: flex; 
    flex-direction: column;
}

form .row{
    display: flex;
    gap: 15px;
}

.row .coloumn{
    flex: 1 1 250px;
}
.coloumn .title{
    font-size: 20px;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.coloumn.input-box{
    margin: 15px 0;
}
.input-box span{
    display: block;
    margin-bottom: 1px;
    margin-left: 6px;
    
}
.input-box input{
    width: 90%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
}

.input-box img{
    height: 30px;
    margin-top: 5px;

}

.coloumn.flex{
    display: flex;
    gap: 15px;
}

.flex .input-box{
    margin-top: 5px;
}

form .btn{
    padding: 12px;
    background: #1b2c4a;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 17px;
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
    transition: 0.5s;
    height: 450px;
}
form .btn:hover{
    background: #f26522;

}
.header_section_top {
    width: 100%;
    background-color: #2b2a29;
    clip-path: polygon(0 0, 100% 0, 96% 100%, 3% 100%);
    height: 55px;
    padding: 10px 0; 
    position: absolute; 
    top: 0; 
    z-index: 1000; 
    left: 0; 
}

.custom_menu {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.custom_menu ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.custom_menu li {
    float: left;
    font-size: 16px;
    color: #f1f1f1;
    padding: 6px 10px 0px 10px;
    list-style: none;
}

.custom_menu li a {
    color: #f1f1f1;
    text-decoration: none;
    transition: 0.3s ease;
}

.custom_menu li a:hover {
    color: #f26522;
    text-decoration: none;
}
